.nav-ul {
  display: flex;
  /* padding: 16px 8px; */
  gap: 8px;
  font-size: 2rem;
  border-bottom: 1px solid #536471;
  margin-bottom: 16px;
}
.nav-ul > li {
  padding: 16px;
  border-radius: 50%;
}
.nav-ul > li > a > svg {
}
.nav-ul > li:hover {
  background-color: rgba(231, 233, 234, 0.1);
  /* background-color: white; */
}
