.nav-container{
  border-left: 1px solid #536471;
  border-right: 1px solid #536471;
}
.nav-title{
  padding: 1rem ;
  color: #fff;
}
.nav-nav {
  max-width: 320px;
}

.nav-ul {
  display: flex;
  font-size: 2rem;
  border-bottom: 1px solid #536471;
}

.nav-ul > li {
  padding: 8px;
  width: 50%;
  cursor: pointer;
}

.nav-ul > li:hover {
  background-color: rgba(231, 233, 234, 0.1);
}

.nav-ul li a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected {
  border-bottom: 5px solid dodgerblue;
}