.nav-container{
  border-left: 1px solid #536471;
  border-right: 1px solid #536471;
}
.nav-title{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #fff;
  font-size: 1.25rem;
}
.nav-title button{
  background-color: transparent;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
}
.nav-title button:hover{
  text-decoration: underline;
}

.nav-ul {
  display: flex;
  font-size: 2rem;
  border-bottom: 1px solid #536471;
}

.nav-ul > li {
  padding-top: 0.5rem;
  width: 50%;
  cursor: pointer;
}

.nav-ul > li:hover {
  background-color: rgba(231, 233, 234, 0.1);
}

.nav-ul a{
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .nav-ul svg{
  padding-bottom: 5px;
} */

.selected {
  border-bottom: 5px solid dodgerblue;
}