.tweet {
  padding: 8px;
  border: 1px solid #536471;
  color: #fff;
  border-top: 0;
  /* margin-bottom: 4px; */
}
.tweet-name{
  display: flex;
  align-items: baseline;
}
.tweet-name h3{
  font-weight: bold;
  font-size: 0.875rem;
}
.tweet-name span{
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  font-size: 0.875rem;
  color: gray;
  white-space: inherit;
}
.tweet > h4 {
  font-size: 0.875rem;
  padding: 0.5rem 0;
}
.tweet img{
  border-radius: 1rem;
}
.tweet-btn-group{
  display: flex;
  justify-content: flex-end;
}
.tweet-btn{
  margin: 0 0.25rem;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 1.5rem;
}

.edit-tweet{
  border: 0;
  outline: 0;
  background-color: transparent;
  color: white;
  padding: 4px;
  border-bottom: 1px solid silver;
}